{% extends "main/layout.html" %}
{% block title %}Контакты{% endblock %}
{% block content %}
    <div class="features">
        <h1>Связь со мной</h1>
        <div>
            <h3 style="text-align: center; margin-bottom: 20px;">
                <i class="fab fa-discord"></i> Discord: r8zorg
            </h3>
            <h3 style="text-align: center; margin-bottom: 20px;">
                <i class="fab fa-telegram"></i> Telegram: R8Zorg
            </h3>
        </div>
    </div>
{% endblock %}
